<style>
    .product-name {
        height: 1.9em;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        /* number of lines to show */
        -webkit-box-orient: vertical;
    }

    .wishlist-button {
        position: absolute;
        top: 10px;
        right: 10px;
        background: none;
        border: none;
        cursor: pointer;
    }

    .product-share-button {
        position: absolute;
        top: 60px;
        right: 10px;
        background: none;
        border: none;
        cursor: pointer;
    }

    .heart-icon {
        width: 24px;
        height: 24px;
        fill: none;
        stroke: red;
        stroke-width: 2px;
    }

    .heart-icon.wishlisted {
        fill: #E04F5A;
    }
</style>

<div class="card h-100" style="border: 0 !important; background-color:transparent;">
    <!-- Product Image  -->
    {% set primary_image = product['primary_image'].replace('/assets/', '/f_webp,q_60/w_480/v1/assets/') if not
    is_main_product else product['primary_image'] %}
    {% set slug = product['product_url'].split('/')[-3] %}
    <a href="/product/{{slug}}/{{ product.index }}" onclick="trackProductClick('{{ product.index}}'); return true;"><img
            style="border-radius:15px;" class="card-img-top" src="{{ primary_image }}" alt="{{ product['title'] }}"></a>

    {% if is_main_product %}
    <button class="wishlist-button" data-index="{{ product['index'] }}" style="outline: none; box-shadow: none;">
        <!-- Adding the icon inline here, since didn't find a way to alter the color otherwise.  -->
        <svg version="1.1" width="36" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 496.158 496.158"
            style="enable-background:new 0 0 496.158 496.158;" xml:space="preserve">
            <!-- outer circle. -->
            <path style="fill:none; stroke:black; stroke-width:10;" d="M0,248.085C0,111.063,111.069,0.003,248.075,0.003c137.013,0,248.083,111.061,248.083,248.082
       c0,137.002-111.07,248.07-248.083,248.07C111.069,496.155,0,385.087,0,248.085z" />
            <!-- inner heart. -->
            <path class="heart-icon {% if is_wishlisted %}wishlisted{%endif%}" style="stroke:black; stroke-width:10;" d="M374.116,155.145c-34.799-34.8-91.223-34.8-126.022,0h-0.029c-34.801-34.8-91.224-34.8-126.023,0
       c-34.801,34.8-29.783,86.842,0,126.022c31.541,41.491,89.129,109.944,126.023,109.944h0.029c36.895,0,94.481-68.453,126.022-109.944
       C403.9,241.988,408.916,189.946,374.116,155.145z" />
        </svg>
    </button>

    <button class="btn pl-1 pr-0 pt-0 pb-1 product-share-button"
        onclick="navigatorShare('I found this dress on Husn! Look at the the similar dresses as well!')"
        style="outline: none; box-shadow: none;">
        <img src="/static/insta-style-share.svg" height="36" width="36" alt="Share">
    </button>

    </button>

    {% endif %}
    <div class="card-body px-1 pt-1" style="background-color:transparent !important;">
        <!-- Product Brand and name -->
        {% set product_name = product['product_name'].replace(product['brand'], '')
        %}
        <div class="d-flex justify-content-between align-items-center">
            <div class="d-flex flex-column">
                <!-- Product Rating -->
                <div class="d-flex flex-row pr-1 my-1" style="font-size: 12px;">
                    {% if product['rating_count'] > 0 and is_main_product %}
                    <span class="mr-2">
                        {{ '%.1f'|format(product['rating']) }} <span style="color:burlywood;">&#9733;</span>
                    </span>

                    <!-- remove
                        product['rating_count'] }} -->
                    {% endif %}

                    {% if is_main_product %}
                    <span>Rs. {{
                        product['price'] | int}}
                    </span>
                    {% endif %}
                </div>

                <h6 class="text-md mb-0" style="color: #6C6463;">{{ product['brand'] }}</h6>
                <div class="product-name">
                    <h5 class="mb-0" style="font-size: 12px; color: #6C6463;">{{ product_name }}</h5>
                </div>
            </div>

            {% if is_main_product %}
            <div class="d-flex align-items-center mx-1">

                <!-- Product Original Url -->
                <a class="px-1" style="margin-top:-10px" href="{{ product['product_url'] }}">
                    <img src="/static/myntra-logo.svg" alt="View Product on Myntra" style="width: 40px; height: 40px;">
                </a>

            </div>
            {% endif %}
        </div>
    </div>
</div>

{% if is_main_product%}
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var wishlistButtons = document.querySelectorAll('.wishlist-button');
        wishlistButtons.forEach(function (button) {
            button.addEventListener('click', function (event) {
                event.preventDefault();
                var index = this.dataset.index;
                var heartIcon = this.querySelector('.heart-icon');

                {% if current_user.is_authenticated %}
                // Send POST request to toggle wishlist status
                fetch('/wishlist/' + index, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({})
                })
                    .then(response => response.json())
                    .then(data => {
                        if (data.is_wishlisted) {
                            // When the product is added to the wishlist
                            console.log('Added to wishlist');
                            heartIcon.classList.add('wishlisted');  // Ensure the class is added to fill the heart
                        } else {
                            // When the product is removed from the wishlist
                            console.log('Removed from wishlist');
                            heartIcon.classList.remove('wishlisted');  // Ensure the class is removed to unfill the heart
                        }
                    })
                    .catch(error => {
                        console.error('Error:', error);
                    });
                {% else %}
                window.location.href = '/login?next={{ url_for(request.endpoint, **request.view_args) }}';
                {% endif %}
            });
        });
    });
</script>
{% endif %}