<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Support - Husn</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="font-sans text-gray-700" style="background-color: #dedacf;">
    <div class="container mx-auto px-4 py-8">
        <h1 class="text-3xl font-bold mb-6">Support</h1>

        <p class="mb-4">If you need any assistance or have any questions, feel free to reach out to us through the
            following channels:</p>


        <div class="mb-4">
            <h2 class="text-2xl font-semibold mb-2">Instagram</h2>
            <p class="mb-2">You can contact us on our Instagram page:</p>
            <div class="instagram-embed-container mb-4">
                <iframe src="https://www.instagram.com/husn.app/embed" width="400" height="480" frameborder="0"
                    scrolling="no" allowtransparency="true" class="rounded-lg shadow-lg"></iframe>
            </div>

            <div class="mb-4">
                <h2 class="text-2xl font-semibold mb-2">Email</h2>
                <p class="mb-2">You can also reach us via email:
                    <a href="mailto:gautam.jha@husn.app" class="text-blue-500 underline">gautam.jha@husn.app</a>
                </p>
            </div>
        </div>
</body>

</html>